<form class="form-inline my-2 my-lg-0" style="margin-right: -20%">
        <input class="form-control " style="width: 30%; margin: 0 5px" type="search" name="username" placeholder="username" aria-label="Search">
        <input class="form-control" style="width: 20%; margin: 0 5px" type="search" name="password" placeholder="password" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</form>