<ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/cinema">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
        </li>