<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infinite Cinemas</title>
</head>
<body style="text-align: center">
    <h2>Infinite Cinemas</h2>
    <br>
    <form action="/" method="post">
    <label>Name <input type="text" name="name"></label>
    <br>    
    <label>Email <input type="text" name="email"></label>
    <br>
    <br>
    <input type="submit" value="GO!">
    </form>
</body>
</html>